.page#home-page {
  padding: 0;
  overflow: unset;
}

.fs-video-container {
  position: sticky;
  top: 0;
  width: 100vw;
  height: calc(100vh - var(--nav-height) + 20px);
  overflow: hidden;
}

.fs-video-container__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fs-video-container__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.614); /* half-transparent overlay */
}

.fs-video-container__logo-wrapper {
  position: absolute;
  top: calc(50% - var(--nav-height) / 2);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%; /* match logo width */
  max-width: 1000px;
  filter: drop-shadow(0 0px 6px rgba(0, 0, 0, 0.5));
}

.fs-video-container__logo {
  width: 100%; /* fills wrapper width */
  height: auto;
}

.fs-video-container__subtitle {
  color: #fff;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .fs-video-container__subtitle {
    font-size: 1.5rem;
  }
}

#about-school {
  background-color: unset;
  padding: 110px 50px;
  padding-bottom: 140px;
}

#about-dojo {
  padding: 100px;
  padding: 110px 50px;
  padding-top: 140px;
}

#about-dojo .bamboo {
  height: 300px;
  bottom: 90%;
}
@media (max-width: 1200px) {
  #about-dojo .bamboo {
    display: none;
  }
}
#about-dojo .bamboo.bamboo-left {
  left: 0%;
}
#about-dojo .bamboo.bamboo-right {
  right: 0%;
}

#nanking-transition {
  z-index: 5;
}

#nanking-transition .transition-peak {
  background-color: var(--background);
}

.ying-yang-base,
.ying-yang-top {
  background-color: var(--background);
  width: 120px;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  mask-image: url("../assets/graphics/home/ying-yang-base.svg");
  -webkit-mask-image: url("../assets/graphics/home/ying-yang-base.svg");
}
.ying-yang-base {
  width: 119px;
}
.ying-yang-top {
  mask-image: url("../assets/graphics/home/ying-yang-top.svg");
  -webkit-mask-image: url("../assets/graphics/home/ying-yang-top.svg");
  background-color: var(--secondary);
}

.page-wide-content {
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

#about-teacher-preview {
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: var(--primary);
  gap: 30px;
  position: relative;
}

#about-teacher-preview .image-with-button-frame {
  max-width: 90%;
}

#about-teacher-preview #image-with-button {
  max-width: 800px;
  width: 100%;
  height: auto;
}

#about-teacher-button {
  position: absolute;
  left: 50%;
  top: 100%;
  z-index: 5;
  transform: translate(-50%, -50%);
}
