.teacher-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 24px;
  overflow: hidden;
}

.teacher-photo {
  width: 400px;
  max-width: 80%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  z-index: 1;
}

.trophies-wrapper {
  position: relative;
  width: 100%;
  background-color: var(--primary);
}

.top-transition {
  position: absolute;
  bottom: 100%;
  width: 100%;
  pointer-events: none;
  mask-repeat: no-repeat;
  mask-position: top;
  mask-size: cover;
}

#teacher-transition {
  height: 200px;
  mask-image: url("../assets/transition.svg");
  background-color: var(--primary);
}
.bamboo {
  height: 500px;
  width: 300px;
  margin-bottom: 30px;
  max-height: 120vw;
  background-color: var(--primary);
  mask-size: contain;
  mask-position: bottom;
  z-index: -1;
}
#bamboo-left {
  left: 5%;
  mask-image: url("../assets/bambooLeft.svg");
}
#bamboo-right {
  right: 7%;
  mask-image: url("../assets/bambooRight.svg");
}

.trophies-row {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 24px;
}

.trophy {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  text-align: center;
}

.trophy img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .trophies-row {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  #bamboo-right {
    display: none;
  }
}
