.teacher-page.page {
  padding-top: 0;
}

.teacher-page-intro {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: space-around;
  min-height: 100vh;
  width: 100%;
}

.teacher-photo {
  width: 400px;
  max-width: 80%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  z-index: 1;
}

#teacher-top-graphic {
  padding-bottom: 50px;
  width: 100%;
  background-color: var(--secondary);
  position: relative;
}

.transition-wrapper {
  position: absolute;
  bottom: 100%;
  width: 100%;
  pointer-events: none;
  background-color: unset;
  z-index: -1;
  display: flex;
  flex-direction: column;
}
.transition-wrapper.on-top {
  z-index: 1;
}
.transition-fill {
  background-color: var(--secondary);
  height: 100px;
}
.transition-peak {
  height: 50px;
  mask-image: url("../assets/graphics/misc/transition2.svg");
  -webkit-mask-image: url("../assets/graphics/misc/transition2.svg");
  background-color: var(--secondary);
  mask-repeat: repeat-x;
  -webkit-mask-repeat: repeat-x;
  mask-position: bottom;
  -webkit-mask-position: bottom;
  mask-size: 100%; /*must set in the svg preserveaspectratio="none"*/
  -webkit-mask-size: 100%; /*must set in the svg preserveaspectratio="none"*/
}

.transition-peak.short {
  height: 20px;
}

.bamboo {
  bottom: 100%;
  height: 500px;
  width: 300px;
  max-height: 80vh;
  max-width: 100vw;
  background-color: var(--secondary);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: bottom;
  -webkit-mask-position: bottom;
  z-index: -1;
  position: absolute;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
.bamboo.bamboo-left {
  left: 5%;
  mask-image: url("../assets/graphics/teacher/bambooLeft.svg");
  -webkit-mask-image: url("../assets/graphics/teacher/bambooLeft.svg");
}
.bamboo.bamboo-right {
  right: 7%;
  mask-image: url("../assets/graphics/teacher/bambooRight.svg");
  -webkit-mask-image: url("../assets/graphics/teacher/bambooRight.svg");
}

.trophies-row {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 24px;
  margin-bottom: 15px;
}

.trophy {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  text-align: center;
}

.trophy img {
  width: 100%;
  height: auto;
}

.dan-icon {
  display: inline-block;
  height: 1em;
  margin-inline-start: 6px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .trophies-row {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .bamboo-right {
    display: none;
  }
}

#teacher-story-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
}

.timeline-wrapper {
  margin-right: 25px;
  margin-top: 10px;
  width: 20%;
  min-height: 100px;
  position: relative;
}

.timeline-track {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-mask-repeat: repeat-y;
  -webkit-mask-position: top;
  -webkit-mask-size: auto;
  mask-repeat: repeat-y;
  mask-position: top;
  mask-size: auto;
  top: 0;
}

.track1 {
  -webkit-mask-image: url("../assets/graphics/teacher/timelineTrack2.svg");
  mask-image: url("../assets/graphics/teacher/timelineTrack2.svg");

  background-color: var(--primary); /* color for first track */
}

.track2 {
  -webkit-mask-image: url("../assets/graphics/teacher/timelineTrack1.svg");
  mask-image: url("../assets/graphics/teacher/timelineTrack1.svg");
  background-color: var(--secondary); /* color for second track */
}
