/* ContactForm.css */
section#contact {
  padding: 1rem;
  background-color: var(--background);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  flex-basis: 0;
  max-width: 500px;
}

#formTitle {
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 0.75rem; /* space for icon */
  border: 1px solid var(--primary);
  border-radius: 8px;
  text-align: right; /* Hebrew text right-aligned */
  transition: all 0.5s;
  padding: 8px;
}

.input-wrapper textarea {
  resize: none; /* prevent manual resize */
  overflow: hidden; /* hide scrollbars */
  min-height: 3em; /* initial height */
  height: auto; /* let CSS manage height */
}

.input-wrapper {
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--accentDark);
  box-shadow: 0 0 5px var(--accent);
  transition: all 0.1s;
}

textarea {
  resize: vertical;
}

button {
  padding: 0.75rem;
  border: none;
  transition: all 0.5s;
}

.status-sending,
.status-sent {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
  color: green;
}

.status-error {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
  color: rgb(128, 0, 0);
}

@media (max-width: 768px) {
  section#contact {
    order: 1;
    max-width: unset;
  }
}
