.footer {
  background-color: var(--primary);
  color: var(--text);
  padding: 25px 15px;
  text-align: center;
  font-size: 1rem;
  direction: rtl;
  position: relative;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 auto 10px;
}

.footer-contact-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 5;
  flex-basis: 0;
}

.footer-media-links,
.footer-contact-links {
  flex-grow: 5;
  flex-basis: 0;
}

.footer-media-links {
  gap: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
}

.social-link {
  color: var(--primaryDark);
  transition: color 0.2s;
}

.footer-bottom {
  border-top: 1px solid #333;
  padding-top: 10px;
  color: #888;
}

.footer-link {
  font-size: 1.25em;
}

.footer-link i,
.footer-link a {
  margin-left: 10px;
  color: var(--primaryDark);
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
  }

  .footer-contact-links {
    order: 2;
  }
}
