.overlay-collapse {
  position: absolute;
  top: 100%; /* right below the navbar */
  left: 0;
  width: 100%;
  z-index: 999; /* make sure it appears on top */
  padding: inherit;
  background-color: inherit;
}

.nav-link {
  color: white !important;
}

.navbar .container {
  background-color: inherit;
}

#mynavbar {
  background-color: var(--dark-red) !important;
}

@media (min-width: 768px) {
  .overlay-collapse {
    position: static; /* normal behavior on desktop */
  }
}
