.overlay-collapse {
  position: absolute;
  top: 100%; /* right below the navbar */
  left: 0;
  width: 100%;
  z-index: 999; /* make sure it appears on top */
  padding: inherit;
  background-color: inherit;
}

.nav-link {
  color: var(--text);
  font-family: mainFont;
}

.navbar .container {
  background-color: inherit;
  height: 100%;
  position: relative;
  flex-wrap: nowrap;
}

#mynavbar {
  background-color: var(--background) !important;
  z-index: 1000;
  height: 80px;
  position: sticky;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:hover {
  background-color: var(--primary);
  border: none;
  outline: none;
  box-shadow: none;
}

.navbar-brand {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

#logo {
  max-height: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .overlay-collapse {
    position: static; /* normal behavior on desktop */
  }
}

@media (max-width: 768px) {
  .navbar .container {
    justify-content: flex-start;
  }

  .navbar-brand {
    margin-right: 20px;
  }
  .overlay-collapse {
    padding-bottom: 10px;
  }

  .nav-link {
    padding-right: 10px;
  }
}
