.overlay-collapse {
  position: absolute;
  top: 100%; /* right below the navbar */
  left: 0;
  z-index: 999; /* make sure it appears on top */
  padding: inherit;
  background-color: inherit;
}

.nav-link {
  color: var(--text);
  font-family: mainFont;
  padding: 0 0.5rem !important;
  margin: 1rem 0.5rem;
}

.navbar .container {
  height: 100%;
  position: relative;
  flex-wrap: nowrap;
  /*margin: 0 !important;*/
  max-width: 1200px !important;
}

#mynavbar {
  z-index: 1000;
  height: var(--nav-height);
  padding: 0;
  justify-content: center;
  background-color: rgb(250, 249, 245) !important;
  transition: all 0.3s ease;
}

#mynavbar .nav-link {
  padding: 8px 15px;
  transition: all 0.3s ease;
}

#mynavbar::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/graphics/navbar/leaves.svg");
  background-size: 1500px;
  background-position: -130px 5px;
  background-repeat: repeat-x;
  opacity: 0.2; /* adjust */
  pointer-events: none;
  z-index: 0;
  height: 100%;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:hover {
  background-color: unset;
  border: none;
  outline: none;
  box-shadow: none;
}

.navbar-brand {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 0;
  flex-grow: 1;
}

.navbar-collapse {
  flex-grow: 0;
  flex-basis: auto;
}

#logo {
  max-height: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .overlay-collapse {
    position: static; /* normal behavior on desktop */
  }

  /* Shrink navbar on scroll */
  #mynavbar.shrink {
    height: 60px; /* smaller navbar height */
    font-size: 1rem;
  }

  #mynavbar.shrink .nav-link {
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .navbar .container {
    justify-content: flex-start;
    margin: 0;
    max-width: unset !important;
    gap: 0;
  }

  .navbar-brand {
    margin-right: 20px;
  }
  .overlay-collapse {
    padding-bottom: 10px;
    width: 100%;

    background-color: rgb(255, 255, 255);
    box-shadow: var(--bs-box-shadow-sm);
  }

  .nav-link {
    padding-right: 10px;
  }
}
