.title-wrapper {
  display: inline-block; /* shrink to content width */
  text-align: center; /* center text and line */
  position: relative;
  margin-bottom: 1rem;
}

.title {
  margin: 0;
  font-size: 2rem;
}

.title-line {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0.25rem; /* spacing between text and line */
  fill: var(--text);
}
