.title-wrapper {
  display: inline-block; /* shrink to content width */
  text-align: center; /* center text and line */
  position: relative;
  margin-bottom: 1rem;
}

.lined-title {
  font-size: 2rem;
}

.title-line {
  display: block;
  width: 100%;
  height: auto;
  margin: 0.75rem 0;
  fill: var(--text);
}

@media (max-width: 768px) {
  .title-wrapper {
    align-self: center;
  }
}
