:root {
  --text: #1d1d1d;
  --background: #fbfbfe;
  --secondary: #e1e1e1;
  --accent: #baebb3;
}

#everything {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@font-face {
  font-family: "mainFont";
  src: url(./assets/NotoSansHebrew.ttf);
}

@font-face {
  font-family: "mainFontBold";
  src: url(./assets/NotoSansHebrew.ttf);
  font-weight: 700;
}

body {
  margin: 0;
  font-family: mainFont;
  color: rgb(0, 0, 0);
}

#content {
  position: relative;
  flex-grow: 1;
}

:not(.background) {
  z-index: 10;
}
