:root {
  --text: #1d1d1d;
  --background: #ffffff;
  --primary: #acd5ac;
  --accentLight: #e57a7a;
  --primaryDark: #000000;
  --accent: #1eff00;
  --accentDark: #93da93;
  --accentDarkest: #08200a;
}

#everything {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

#bg-image {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  background-image: url(assets/paper.jpg);
  background-size: 1000px;
  opacity: 30%;
}

@font-face {
  font-family: "mainFont";
  src: url(./assets/NotoSansHebrew.ttf);
}

@font-face {
  font-family: "mainFontBold";
  src: url(./assets/NotoSansHebrew.ttf);
  font-weight: 700;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: mainFont;
  color: rgb(0, 0, 0);
}

#content {
  position: relative;
  flex-grow: 1;
}

:not(.background) {
  z-index: 10;
}

/*buttons*/

.highlight {
  border-radius: 10px;
  position: relative;
}

.highlight::before,
.info-box::before {
  content: "";
  width: 110%;
  mask-image: url(assets/stroke2.png);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-position: center;
  top: 0;
  left: 0;
  right: -4%;
  bottom: 0;
  position: absolute;
  background-color: var(--primary);
  z-index: -5;
  mix-blend-mode: multiply;
  overflow: visible;
}

.clickable {
  position: relative;
  display: inline-block;
}

.taper-btn {
  position: relative;
  background: none;
  border: none;
  padding: 4px 0;
}

.clickable {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: visible;
}

.clickable::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;

  /* make the gradient twice as wide as the element */
  background: linear-gradient(
    to right,
    transparent 0%,
    transparent 40%,
    currentColor 50%,
    currentColor 100%
  );
  background-size: 250% 100%; /* twice the width */
  background-position: left; /* start fully shifted left */

  mask-image: url(assets/small_underline.png);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  opacity: 0;
  transition: background-position 2s ease, opacity 0.5s ease;
}

.clickable:hover::after {
  background-position: right; /* slide the gradient across the element */
  opacity: 1;
  transition: background-position 0.5s ease;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accentDark);
}

/*card*/

.mycard {
  display: flex;
  direction: rtl;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

.card-info {
  flex: 1;
  flex-basis: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
  align-items: flex-start;
}

.card-info.centered {
  align-items: center;
}

.card-graphic {
  flex: 1;
  flex-basis: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  max-height: 500px;
}

.swiper {
  width: 100%;
  height: 200%;
}

.image {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}

.info-box {
  padding: 1rem;
  border-radius: 10px;
  position: relative;
}

.hyperlink {
  cursor: pointer;
  font-weight: 550;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3);
}
.hyperlink:hover {
  text-decoration-color: black;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .mycard.padded {
    gap: 30px;
    padding: 30px;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .mycard {
    flex-direction: column;
    align-items: center;
  }

  .card-info {
    padding: 20px;
  }

  .card-graphic {
    flex-basis: unset;
  }
}
