:root {
  --text: #1d1d1d;
  --background: #ffffff;
  --primary: #ffecd7;
  --accentLight: #d9f3d5;
  --primaryDark: #000000;
  --accent: #b6e8af;
  --accentDark: #93da93;
  --accentDarkest: #15731d;
}

#everything {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@font-face {
  font-family: "mainFont";
  src: url(./assets/NotoSansHebrew.ttf);
}

@font-face {
  font-family: "mainFontBold";
  src: url(./assets/NotoSansHebrew.ttf);
  font-weight: 700;
}

body {
  margin: 0;
  font-family: mainFont;
  color: rgb(0, 0, 0);
}

#content {
  position: relative;
  flex-grow: 1;
}

:not(.background) {
  z-index: 10;
}

/*buttons*/

.clickable {
  border-radius: 10px;
  transition: background-color 0.5s;
}

.highlight {
  background-color: var(--accent);
  border-radius: 10px;
}

.clickable:hover {
  background-color: var(--accentLight);
  transition: background-color 0.1s;
}

.highlight:hover {
  background-color: var(--accentDark);
  border-radius: 10px;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accentDark);
}

/*card*/

.mycard {
  display: flex;
  direction: rtl;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Heebo", sans-serif;
  width: 100%;
  overflow: hidden;
}

.card-info {
  flex: 1;
  flex-basis: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
  align-items: flex-start;
}

.card-info.centered {
  align-items: center;
}

.card-graphic {
  flex: 1;
  flex-basis: 0;
  max-width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  max-height: 500px;
}

.swiper {
  width: 100%;
  height: 200%;
}

.image {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}

.info-box {
  padding: 1rem;
  background-color: var(--primary);
  border-radius: 10px;
}

.hyperlink {
  cursor: pointer;
  font-weight: 550;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3);
}
.hyperlink:hover {
  text-decoration-color: black;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .mycard.padded {
    gap: 30px;
    padding: 30px;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .mycard {
    flex-direction: column;
    align-items: center;
  }

  .card-info {
    padding: 20px;
  }

  .card-graphic {
    flex-basis: unset;
  }
}
